<div class="cabecalho">								
	<a href="#homeCidadao"><div class="containe" id="cidadao">
		<br><img class="icon" src="img/cidadaoB.png">
		<p class="texto">Cidadão</p>
		</div>
	</a>
	<a href="#homeProfissional"><div class="containe" id="profissional">
		<br><img class="icon" src="img/profissionalB.png">
		<p class="texto">Profissional de Saúde</p>
		</div>
	</a>
	<a href="#homeUnidade"><div class="containe" id="unidade">
		<br><img class="icon" src="img/unidade.png">
		<p class="texto">Unidade de Saúde</p>
		</div>
	</a>
</div>
<div class="left">
	<h1>Seu cartão de vacina agora DIGITAL</h1>
	<img src="img/celularC.png">
</div>
<div class="content">
	<h4>CAMPANHAS</h4>
	<a href="#"><img class="img" src="img/HPV.png"></a>
	<a href="#"><img class="img" src="img/h1n1.png"></a>
</div>
<div class="right">
	<h1>O Legal é ter o seu cartão sempre em mão</h1>
	<img src="img/celular.png">
</div>
<div class="right">
	<h4>CALENDÁRIO 2016</h4>
	<a href="http://lproweb.procempa.com.br/pmpa/prefpoa/cgvs/usu_doc/0804_calendario_vacinal_agenda.pdf"><img src="img/calendario.jpg"></a>
	<a href="#duvida"><img class="iconeD" src="img/duvida.png"><p class="textoD">Dúvidas</p></a>
</div>
<div class="inferior">
	<p class="rodape">Copyright © Vacina Legal 2016. Todos direitos reservados.</p>
</div>