<div class="container">
			<img src="img\profissionalB.png">
			<form>
				<div class="form-input">
					<input type="text" name="username" placeholder="Nº CRM / COREN" required autofocus>
				</div>
				<div class="form-input1">
					<input type="password" name="password" placeholder="Digite Senha" required>		
				</div>
				<input type="submit" name="submit" value="ENTRAR" class="btn-login"><br>
				<a href="#reset" class="reset">Esqueci minha senha</a>
				<br><br><p class="acesso">Não possui acesso?<a class="solicitar" href="#primeiroAcesso">    Cadastre-se aqui </a></p>
			</form>
</div>