<link rel="stylesheet" href="css/login.css">
<div>
	<div class="user">
		<form>
			<input type="radio" name="opcao" value="coren" checked> CPF
			<input type="radio" name="opcao" value="crm" > COREN
			<input type="radio" name="opcao" value="crm" > CRM
		</form> 
	 	<form>
			<div class="form-input">
				<input type="text" name="username" placeholder="Nº" required autofocus>
			</div>
			<div class="form-input1">
				<input type="password" name="password" placeholder="Digite Senha" required>		
			</div>
			<div class="form-input1">
				<input type="password" name="password" placeholder="Repita a Senha" required>
			</div>
			<input type="submit" name="submit" value="SALVAR" class="btn-login"><br>
		</form>
	</div>
</div>