<div class="container">
		<img src="img\solicitar.png">
		<form>
			<div class="form-input">
				<input type="text" name="username" placeholder="Nº CPF" required autofocus>
			</div>
			<div class="form-input1">
				<input type="password" name="password" placeholder="Digite Senha" required>		
			</div>
			<div class="form-input1">
				<input type="password" name="password" placeholder="Repita a Senha" required>
			</div>
			<input type="submit" name="submit" value="SALVAR" class="btn-login"><br>

		</form>
</div>