<div class="login">								
	<a href="#unidade"><div class="container" id="unidade">
		<br><img class="icon" src="img/unidade.png">
		<p class="texto1">Unidade de Saúde</p>
		</div>
	</a>
</div>
<div class="left">
	<h1>O Legal é ter o seu cartão sempre em mão</h1>
	<img src="img/celularU.png">
</div>
<div class="content">
	<p class="texto2">Acesso pelo Facebook ou Google +</p>
	<div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false">Entrar</div>
	<div class="g-signin2" data-onsuccess="onSignIn"></div>
	<br><br><br><br><a href="#homeUnidade">Acesso</a>
	<h5>O usuário para acessar o ambiente, é necessário ter uma conta no Facebook ou Google.</h5>
</div>
<div class="right">
	<h4>CALENDÁRIO 2016</h4>
	<a href="http://lproweb.procempa.com.br/pmpa/prefpoa/cgvs/usu_doc/0804_calendario_vacinal_agenda.pdf"><img src="img/calendario.jpg"></a>
	<a href="#duvida"><img class="iconeD" src="img/duvida.png"><p class="textoD">Dúvidas</p></a>
</div>
<div class="inferior">
	<p class="rodape">Copyright © Vacina Legal 2016. Todos direitos reservados.</p>
</div>