<div class="cabecalho">
	<a href="#homeUnidade"><div id="voltar">
		<br><img class="icon" src="/public/img/seta.png">
	  	<p class="texto">Voltar</p></div>
	</a>
</div>
<div class="busca"></div>
<form action="" class="form">
	<h2>ENVIAR AVISO</h2>
	<input class="input" type="text" name="nome" placeholder="Campanha">
	<input class="input" type="email" name="email" placeholder="Email">
	<input class="input" type="text" name="fone" placeholder="Telefone">
	<textarea class="textArea" name="menssagem" placeholder="Escreva uma menssagem"></textarea>	
</form>
<div align="center">
	<div align="center">
		<button ng-click="enviarAviso()" class="btn-cadastrar">ENVIAR</button>
	</div>
</div>