<a href="#home" class="sair">Sair</a>
<div class="cabecalho">

	<a href="#cadastrarProf"><div class="containe" id="cadastrarProf">
		<br><img class="icon" src="img/cadastro.png">
		<p class="texto">Cadastrar Profissional</p></div>
	</a>
</div>
<div class="cartao"></div>
<div id="cpf">
<input class="aplicar" placeholder="  Nº COREN \ CPF" id="v" name="muda-div"></input>
<button class="btn-aplicar" onclick="visualizar">VISUALIZAR</button>
</div>
<section class="cadastrar" id="atualizar">
	<div class="row">
		<div class="col-sm-12">
			<header>
				<h2><span class="glyphicon glyphicon-user" aria-hidden="true"> Dados</span></h2>
				<hr style="border-color: #2ECC71;"> 
				<div style="margin-top: -20px;"></div>
				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtNome" class="col-sm-3 col-md-2 control-label">NOME:</label>
						<div class="col-sm-4">
							<input type="text" id="txtNome" class="form-control" placeholder="Nome Completo"
							ng-model="paciente.name" required>
						</div>
						<label for="txtEmail" class="col-sm-1 col-md-2 control-label">EMAIL:</label>
						<div class="col-sm-4">
							<span class="input-group-addon">@</span>
							<input type="email" class="form-control" id="txtEmail" placeholder="Informe o Email"
							ng-model="paciente.email" required>
						</div>
					</div>
				</div>
				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtNomeMae" class="col-sm-3 col-md-2 control-label">CPF do Responsavel:</label>
						<div class="col-sm-4">
							<input type="search" id="txtNomeMae" class="form-control" placeholder="CPF Responsavel"
							ng-model="filtro">
							<select id="responsavel"
								class="form-control"
								ng-model="paciente.responsavel"
								ng-options="paciente._id as paciente.name for paciente in pacientes |filter: filtro">

							</select>
						</div>	
						<label for="txtCpf" class="col-sm-1 col-md-2 control-label">CPF:</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" id="txtCpf" placeholder="Número do CPF"
							ng-model="paciente.cpf" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-6 col-sm-3 col-md-2 col-sm-offset-3 col-md-offset-0">
						<label for="txtFone">TELEFONE</label>
						<input type="text" class="form-control" id="txtFone" placeholder="(00)00000-0000">
					</div>
					<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2 col-sm-offset-3 col-md-offset-2">
						 <label for="txtDataNascimento">DATA DE NASC</label>
						<input type="date" class="form-control" id="txtDataNascimento" placeholder="00/00/0000"
						ng-model="paciente.dateNascimento" required>
					</div>
					<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2">
						<label for="txtSexo">SEXO</label>
						<select class="form-control" name="txtSexo" id="txtSexo" 
						ng-model="paciente.genero">
							<option value="Masculino">Masculino</option>
							<option value="Feminino">Feminino</option>
						</select>
					</div>
				</div>
			</header>
		 </div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<header>
				<h2><span class="glyphicon glyphicon-home" aria-hidden="true"> Endereço</span></h2>
				<hr style="border-color: #2ECC71;">
				<div style="margin-top: -20px;"></div>
				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtLogradouro" class="col-sm-3 col-md-2 control-label">LOGRADOURO:</label>
						<div class="col-sm-4">
							<input type="text" id="txtLogradouro" class="form-control" placeholder="Logradouro"
							ng-model="paciente.logradouro">
						</div>
						<label for="txtBairro" class="col-sm-1 col-md-2 control-label">BAIRRO:</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="txtBairro" placeholder="Bairro"
							ng-model="paciente.bairro">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2 col-sm-offset-3 col-md-offset-2">
						<label for="txtNumero">NUMERO</label>
						<input type="text" class="form-control" id="txtNumero" placeholder="Numero"
						ng-model="paciente.numero">
					</div>
					<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2">
						<label for="txtCidade">CIDADE</label>
						<input type="text" class="form-control" id="txtCidade" placeholder="Cidade"
						ng-model="paciente.cidade">
					</div>
					<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2 col-sm-offset-3 col-md-offset-2">
						<label for="txtEstado">ESTADO</label>
						<input type="text" class="form-control" id="txtEstado" placeholder="Estado"
						ng-model="paciente.estado">
					</div>
					<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2 col-sm-offset-3 col-md-offset-0">
						<label for="txtCep">CEP</label>
						<input type="text" class="form-control" id="txtCep" placeholder="CEP"
						ng-model="paciente.cep">
					</div>
				</div>
			</header>
		</div>
	</div>
	<div align="center">
	<a href="profissional.html">
		<br><input type="submit" name="submit"  value="SALVAR ATUALIZAÇÃO" class="btn-cadastrar">
	</a>
</div>
</section>
<script>
$(document).ready(function(){
  $("#cadastrarProf, #atualizar").css("display","none");
  $("#v").change(function(){
            if($(this).val() != '123') {
  $("#cadastrarProf").css("display","block") && $("#cpf, #atualizar").css("display","none");
            } else {
  $("#atualizar").css("display","block") && $("#cpf").css("display","none");;
            }
    });
});
</script>