<div class="cabecalho">
	<a href="#enviarAviso"><div class="containe" id="enviarAviso">
		<br><img class="icon" src="img/aviso.png">
		<p class="texto">Enviar Aviso</p></div>
	</a>
	<a href="#relatorio"><div class="containe" id="relatorio">
		<br><img class="icon" src="img/relatorio.png">
		<p class="texto">Relatório</p></div>
	</a>
	<a href="#cadastrarLote"><div class="containe" id="cadastrarLote">
		<br><img class="icon" src="img/lote.png">
		<p class="texto">Cadastrar Lote</p></div>
	</a>
	<a href="#cadastrarProf"><div class="containe" id="cadastrarProf">
		<br><img class="icon" src="img/cadastro.png">
		<p class="texto">Cadastrar Profissional</p></div>
	</a>
	<div id="status"></div>	
</div>