<a href="#home" class="sair">Sair</a>
<div class="cabecalho">

	<a href="#gerenciarProf"><div class="containe" id="cadastrarProf">
		<br><img class="icon" src="img/cadastro.png">
		<p class="texto">Gerenciar Profissional</p></div>
	</a>
	<a href="#cadastrarLote"><div class="containe" id="cadastrarLote">
		<br><img class="icon" src="img/lote.png">
		<p class="texto">Gerenciar Vacinas</p></div>
	</a>
	<a href="#enviarAviso"><div class="containe" id="enviarAviso">
		<br><img class="icon" src="/img/aviso.png">
		<p class="texto">Enviar Aviso</p></div>
	</a>
	<a href="#relatorio"><div class="containe" id="relatorio">
		<br><img class="icon" src="/img/relatorio.png">
		<p class="texto">Relatório</p></div>
	</a>
</div>