<div class="cabecalho">
  <a href="#homeProfissional"><div id="voltar">
    <br><img class="icon" src="/img/seta.png">
      <p class="texto">Voltar</p></div>
  </a>
</div>
<div class="cartao"></div>
<input class="aplicar" placeholder="  Nº CPF" id="c" name="muda-div"></input>
<button class="btn-aplicar" onclick="aplicar">APLICAR</button>
<div class="caixa">
  <div class="col-md-1">BCG-ID</div>
  <div class="col-md-1">HEPATITE B</div>
  <div class="col-md-1">DTP</div>
  <div class="col-md-1">HiB</div>
  <div class="col-md-1">POLIOMIELTE</div>
  <div class="col-md-1">ROTAVIRUS</div>
  <div class="col-md-1">PNEUM.CONJ</div>
  <div class="col-md-1">MENIGOC. C</div>
  <div class="col-md-1">MENIGOC.ACY</div>
  <div class="col-md-1">MENIGOC. B</div>
  <div class="col-md-1">TRIPL. VIRAL</div>
  <div class="col-md-1">VARICELA</div>
  <!-- DOSE UNICA E PRIMEIRA -->
  <div class="col-md-1" id="bcg"><input type="checkbox" name="padrao" value="bcg">ÚNICA</div>
  <div class="col-md-1" id="hepatite"><input type="checkbox" name="padrao" value="hepatite1">1ª DOSE</div>
  <div class="col-md-1" id="dtp"><input type="checkbox" name="padrao" value="dtp1">1ª DOSE</div>
  <div class="col-md-1" id="hib"><input type="checkbox" name="padrao" value="hib1">1ª DOSE</div>
  <div class="col-md-1" id="polio"><input type="checkbox" name="padrao" value="polio1">1ª DOSE</div>
  <div class="col-md-1" id="rota"><input type="checkbox" name="padrao" value="rota1">1ª DOSE</div>
  <div class="col-md-1" id="pneum"><input type="checkbox" name="padrao" value="pneum1">1ª DOSE</div>
  <div class="col-md-1" id="menigocC"><input type="checkbox" name="padrao" value="menigocC1">1ª DOSE</div>
  <div class="col-md-1" id="menigocA"><input type="checkbox" name="padrao" value="menigocA1">REFORÇO</div>
  <div class="col-md-1" id="menigocB"><input type="checkbox" name="padrao" value="menigocB1">1ª DOSE</div>
  <div class="col-md-1" id="tripl"><input type="checkbox" name="padrao" value="tripl1">1ª DOSE</div>
  <div class="col-md-1" id="varicela"><input type="checkbox" name="padrao" value="varicela1">1ª DOSE</div>
  <!-- SEGUNDA DOSE -->
  <div class="col-md-1" id="bcg"></div>
  <div class="col-md-1" id="hepatite"><button class="btn-menu">2ª DOSE</div></button>
  <div class="col-md-1" id="dtp"><button class="btn-menu">2ª DOSE</div></button>
  <div class="col-md-1" id="hib"><button class="btn-menu">2ª DOSE</div></button>
  <div class="col-md-1" id="polio"><button class="btn-menu">2ª DOSE</div></button>
  <div class="col-md-1" id="rota"><button class="btn-menu">2ª DOSE</div></button>
  <div class="col-md-1" id="pneum"><button class="btn-menu">2ª DOSE</div></button>
  <div class="col-md-1" id="menigocC"><button class="btn-menu">2ª DOSE</div></button>
  <div class="col-md-1" id="menigocA"><button class="btn-menu">REFORÇO</div></button>
  <div class="col-md-1" id="menigocB"><button class="btn-menu">2ª DOSE</div></button>
  <div class="col-md-1" id="tripl"><button class="btn-menu">2ª DOSE</div></button>
  <div class="col-md-1" id="varicela"><button class="btn-menu">2ª DOSE</div></button>
  <!-- TERCEIRA DOSE -->
  <div class="col-md-1" id="bcg"></div>
  <div class="col-md-1" id="hepatite"><button class="btn-menu">3ª DOSE</div></button>
  <div class="col-md-1" id="dtp"><button class="btn-menu">3ª DOSE</div></button>
  <div class="col-md-1" id="hib"><button class="btn-menu">3ª DOSE</div></button>
  <div class="col-md-1" id="polio"><button class="btn-menu">3ª DOSE</div></button>
  <div class="col-md-1" id="rota"></div>
  <div class="col-md-1" id="pneum"><button class="btn-menu">3ª DOSE</div></button>
  <div class="col-md-1" id="menigocC"></div>
  <div class="col-md-1" id="menigocA"><button class="btn-menu">REFORÇO</div></button>
  <div class="col-md-1" id="menigocB"><button class="btn-menu">3ª DOSE</div></button>
  <div class="col-md-1" id="tripl"></div>
  <div class="col-md-1" id="varicela"></div>
</div>
<!--<nav class="menuV">
		<a class="btn-close"><i class="fa fa-times"></i></a>
		<li><a>Informe o numero do lote</a></li>
    <input class="loteV" placeholder="  Nº DO LOTE" id="c" name="muda-div"></input>
    <button class="btn-aplicar" onclick="aplicar">APLICAR</button>
</nav>
<script>
	$(".btn-menu").click(function(){
		$(".menuV").show();
	});
	$(".btn-close").click(function(){
		$(".menuV").hide();
	});
  $(".btn-aplicar").click(function(){
    $(".menuV").hide();
  });
</script>
<script>
$(document).ready(function(){
  $("#bcg").css("background-color","#fff");
  $("#c").change(function(){
            if($(this).val() != ' ') {
  $("#bcg").css("background-color","#2ECC71");
            } else {
  $("#bcg").css("background-color","#fff");
            }
    });
});
</script>-->