<section class="container">
<div class="row">
	<div class="col-sm-12">
		<header>
			<h2><span class="glyphicon glyphicon-user" aria-hidden="true"> Dados</span></h2>

			<hr style="border-color: #2ECC71;"> 
			
			<div style="margin-top: -20px;">
			</div>
<div class="form-horizontal">
	<div class="form-group">
		<label for="txtNome" class="col-sm-3 col-md-2 control-label">NOME:</label>
		<div class="col-sm-4">
			<input type="text" id="txtNome" class="form-control" placeholder="Nome Completo">
		</div>

		<label for="txtNomeMae" class="col-sm-3 col-md-2 control-label">NOME DA MÃE:</label>
		<div class="col-sm-4">
			<input type="text" id="txtNomeMae" class="form-control" placeholder="Nome Completo">
		</div>
		
	</div>
	
</div>


<div class="form-horizontal">
	<div class="form-group">
		<label for="txtEmail" class="col-sm-1 col-md-2 control-label">EMAIL:</label>
		<div class="col-sm-4">
			<input type="email" class="form-control" id="txtEmail" placeholder="Informe o Email">
		</div>	
		<label for="txtNomePai" class="col-sm-1 col-md-2 control-label">NOME DO PAI:</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="txtNomePai" placeholder="Nome Completo">
		</div>
	</div>
</div>
<div class="row">

<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2 col-sm-offset-3 col-md-offset-2">
		<label for="txtSexo">TIPO SANGUÍNEO</label>
		<select class="form-control" name="txtSexo" id="txtSexo">
			<option value="A+">A+</option>
			<option value="A-">A-</option>
			<option value="B+">B+</option>
			<option value="B-">B-</option>
			<option value="AB+">AB+</option>
			<option value="AB-">AB-</option>
			<option value="O+">O+</option>
			<option value="O-">O-</option>
		</select>
	</div>

	<div class="form-group col-xs-6 col-sm-3 col-md-2 col-sm-offset-3 col-md-offset-0">
		<label for="txtFone">TELEFONE</label>
		<input type="text" class="form-control" id="txtFone" placeholder="(00)00000-0000">
	</div>

	<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2 col-sm-offset-3 col-md-offset-2">
		 <label for="txtDataNascimento">DATA DE NASC</label>
		<input type="date" class="form-control" id="txtDataNascimento" placeholder="00/00/0000">
	</div>

	<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2">
		<label for="txtSexo">SEXO</label>
		<select class="form-control" name="txtSexo" id="txtSexo">
			<option value="Masculino">Masculino</option>
			<option value="Feminino">Feminino</option>
		</select>
	</div>
		</header>
		<br>
	</div>
 </div>
</div>

<div class="row">
	<div class="col-sm-12">
		<header>
			<h2><span class="glyphicon glyphicon-home" aria-hidden="true"> Endereço</span></h2>
			<hr style="border-color: #2ECC71;">
			<div style="margin-top: -20px;">
			</div>
<div class="form-horizontal">
	<div class="form-group">
		<label for="txtLogradouro" class="col-sm-3 col-md-2 control-label">LOGRADOURO:</label>
		<div class="col-sm-4">
			<input type="text" id="txtLogradouro" class="form-control" placeholder="Logradouro">
		</div>
		<label for="txtBairro" class="col-sm-1 col-md-2 control-label">BAIRRO:</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="txtBairro" placeholder="Bairro">
		</div>
	</div>
	</div>
	<div class="row">
	<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2 col-sm-offset-3 col-md-offset-2">
		<label for="txtNumero">NUMERO</label>
		<input type="text" class="form-control" id="txtNumero" placeholder="Numero">
	</div>
	<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2">
		<label for="txtCidade">CIDADE</label>
		<input type="text" class="form-control" id="txtCidade" placeholder="Cidade">
	</div>
	<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2 col-sm-offset-3 col-md-offset-2">
		<label for="txtEstado">ESTADO</label>
		<input type="text" class="form-control" id="txtEstado" placeholder="Estado">
	</div>
	<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2 col-sm-offset-3 col-md-offset-0">
		<label for="txtCep">CEP</label>
		<input type="text" class="form-control" id="txtCep" placeholder="CEP">

		<br> <br>
	</div>
</div>

	
</section>
<div align="center">
<a href="profissional.html">
<br><input type="submit" name="submit"  value="SALVAR ALTERAÇÃO" class="btn-salvar">
</a>
</div>
