<div class="cabecalho">
	<a href="#homeProfissional"><div id="voltar">
		<br><img class="icon" src="img/seta.png">
	  	<p class="texto">Voltar</p></div>
	</a>
</div>
<section class="cadastrar">
	<div class="row">
		<div class="col-sm-12">
			<header>
				<h2><span class="glyphicon glyphicon-user" aria-hidden="true"> Dados</span></h2>
				<hr style="border-color: #2ECC71;"> 
				<div style="margin-top: -20px;"></div>
				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtNome" class="col-sm-3 col-md-2 control-label">NOME:</label>
						<div class="col-sm-4">
							<input type="text" id="txtNome" ng-model="nome" class="form-control" placeholder="Nome Completo">
						</div>
						<label for="txtEmail" class="col-sm-1 col-md-2 control-label">EMAIL:</label>
						<div class="col-sm-4">
							<input type="email" class="form-control" id="txtEmail" ng-model="email" placeholder="Informe o Email">
						</div>
					</div>
				</div>
				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtNomeMae" class="col-sm-3 col-md-2 control-label">NOME DA MÃE:</label>
						<div class="col-sm-4">
							<input type="text" id="txtNomeMae" ng-model="nomeMae" class="form-control" placeholder="Nome Completo">
						</div>	
						<label for="txtCpf" class="col-sm-1 col-md-2 control-label">CPF:</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="txtCpf" ng-model="cpf" placeholder="Número do CPF">
						</div>
					</div>
				</div>
				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtNomePai" class="col-sm-3 col-md-2 control-label">NOME DO PAI:</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="txtNomePai" ng-model="nomePai" placeholder="Nome Completo">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2 col-sm-offset-3 col-md-offset-2">
						<label for="txtTipoSangue">TIPO SANGUÍNEO</label>
						<select class="form-control" name="txtTipoSangue" id="txtTipoSangue">
							<option value="A+">A+</option>
							<option value="A-">A-</option>
							<option value="B+">B+</option>
							<option value="B-">B-</option>
							<option value="AB+">AB+</option>
							<option value="AB-">AB-</option>
							<option value="O+">O+</option>
							<option value="O-">O-</option>
						</select>
					</div>
					<div class="form-group col-xs-6 col-sm-3 col-md-2 col-sm-offset-3 col-md-offset-0">
						<label for="txtFone">TELEFONE</label>
						<input type="text" class="form-control" id="txtFone" ng-model="telefone" placeholder="(00)00000-0000">
					</div>
					<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2 col-sm-offset-3 col-md-offset-2">
						 <label for="txtDataNascimento">DATA DE NASC</label>
						<input type="date" class="form-control" id="txtDataNascimento" ng-model="dataNasc" placeholder="00/00/0000">
					</div>
					<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2">
						<label for="txtSexo">SEXO</label>
						<select class="form-control" name="txtSexo" id="txtSexo">
							<option value="Masculino">Masculino</option>
							<option value="Feminino">Feminino</option>
						</select>
					</div>
				</div>
			</header>
		 </div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<header>
				<h2><span class="glyphicon glyphicon-home" aria-hidden="true"> Endereço</span></h2>
				<hr style="border-color: #2ECC71;">
				<div style="margin-top: -20px;"></div>
				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtLogradouro" class="col-sm-3 col-md-2 control-label">LOGRADOURO:</label>
						<div class="col-sm-4">
							<input type="text" id="txtLogradouro" ng-model="logradouro" class="form-control" placeholder="Logradouro">
						</div>
						<label for="txtBairro" class="col-sm-1 col-md-2 control-label">BAIRRO:</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="txtBairro" ng-model="bairro" placeholder="Bairro">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2 col-sm-offset-3 col-md-offset-2">
						<label for="txtNumero">NUMERO</label>
						<input type="text" class="form-control" id="txtNumero" ng-model="numero" placeholder="Numero">
					</div>
					<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2">
						<label for="txtCidade">CIDADE</label>
						<input type="text" class="form-control" id="txtCidade" ng-model="cidade" placeholder="Cidade">
					</div>
					<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2 col-sm-offset-3 col-md-offset-2">
						<label for="txtEstado">ESTADO</label>
						<input type="text" class="form-control" id="txtEstado" ng-model="estado" placeholder="Estado">
					</div>
					<div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2 col-sm-offset-3 col-md-offset-0">
						<label for="txtCep">CEP</label>
						<input type="text" class="form-control" id="txtCep" ng-model="cep" placeholder="CEP">
					</div>
				</div>
			</header>
		</div>
	</div>
</section>
<div align="center">
		<br><button ng-click="cadastrarCidadao()" class="btn-cadastrar">CADASTRAR</button>
</div>
