<a href="#home" class="sair">Sair</a>
<div class="cabecalho">
	<a href="#cadastrar"><div class="containe" id="cadastrar">
		<br><img class="icon" src="img/cadastro.png">
	  	<p class="texto">Cadastro</p></div>
	</a>
	<a href="#aplicar"><div class="containe" id="cadastrar">
		<br><img class="icon" src="img/aplicar.png">
	  	<p class="texto">Aplicar Vacina</p></div>
	</a>
	<a href="#atualizar"><div class="containe" id="atualizar">
		<br><img class="icon" src="img/atualizar.png">
		<p class="texto">Atualizar Cadastro</p></div>
	</a>
	<a href="#atualizarCartao"><div class="containe" id="visualizar">
		<br><img class="icon" src="img/visualizar.png">
		<p class="texto">Atualizar Cartão</p></div>
	</a>
</div>